.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDoneTask {
  opacity: 0.5;
}

.errorText {
  color: red;
  font-weight: bold;
}

.errorBorder {
  border: 2px solid red;
  outline: none;
}